<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}
			
			{# breadcrumb start #}
			{# ================ #}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/{{ lang_code }}/index.html">{% trans %}Inicio{% endtrans %}</a></li>
						<li class="active">{% trans %}Servicios{% endtrans %}</li>
						<li class="active">{% trans %}Auditorías{% endtrans %}</li>
					</ol>
				</div>
			</div>
			{# breadcrumb end #}

			{# banner start #}
			{# ================ #}
			<div class="banner default-bg" style="background-image:url('/static/images/main_AU_background.jpg'); background-position: 50% 50%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{% trans %}Servicio de{% endtrans %} <strong>{% trans %}Auditorías{% endtrans %}</strong></h2>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{% trans %}¿Cómo ve un grupo de atacantes la infraestructura tecnológica de su organización?¿De que forma puede medir el estado de sus defensas? El mejor método para comprobar su seguridad es comprometiéndola de manera ética.{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
			{# banner end #}

			{# main-container start #}
			{# ================ #}
			<section class="main-container padding-bottom-clear">
				<div class="container">
					<div class="row">
						{# main start #}
						{# ================ #}
						<div class="main col-md-12">

							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
										<span class="icon large default-bg circle"><i class="hs-AU_logo-single_dark"></i></span>
										<h3>{% trans %}¿Red Team o Blue Team?{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted" style="text-align:justify">{% trans %}El equipo de auditorías de Hispasec lo forman profesionales de la seguridad con experiencia y una larga trayectoria en el sector. Integrantes del equipo poseen certificaciones de seguridad y formación especializada para el ejercicio de sus funciones.{% endtrans %}</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
										<span class="icon large dark-bg circle"><i class="fa fa-refresh fa-spin"></i></span>
										<h3>{% trans %}Métodos y espíritu de trabajo{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted" style="text-align:justify">{% trans %}Una auditoría no solo es un trabajo meticuloso y de gran responsabilidad, es un reto que asumimos, un desafío lógico que pone a prueba nuestra destreza.Nuestro concepto de trabajo abraza metodologías como OWASP o OSTMM dejando espacio para la creatividad y el trabajo artesano. No nos detenemos en la interpretaciónde los datos producidos por herramientas automatizadas. Conectar los puntos, pensar de manera lateral y reenfocar los problemas haciendo que nuevas ópticas produzcan perspectivas únicas para cada desafío que nos encomiendan.{% endtrans %}</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
										<span class="icon large default-bg circle"><i class="fa fa-check-square-o"></i></span>
										<h3>{% trans %}Un problema, una solución{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted" style="text-align:justify">{% trans %}No basta con señalar un problema, una vulnerabilidad o una deficiencia.El siguiente paso es corregirlo y no le dejamos sólo en el proceso.Nuestra misión no acaba con la entrega de informes personalizados, análisis comparativos o resúmenes ejecutivos.Estudiemos conjuntamente una estrategia de planificación. Personalizemos una solución concreta para un problema determinado. No trabajemos frente a frente, resérvenos un sitio su lado.{% endtrans %}</p>
									</div>
								</div>								
							</div>

						</div>
						{# main end #}

					</div>
				</div>
			</section>
			{# main-container end #}
		

			{# section start #}
			{# ================ #}
			<section class="pv-20 padding-bottom-clear clearfix">
				<div class="container">
					<h2 class="text-center">{% trans %}Tipos de auditorías disponibles{% endtrans %}</h2>
					<div class="separator"></div>
					<p class="text-center space-bottom">{% trans %}Cada necesidad requiere una atención diferente.Estas son nuestras propuestas:{% endtrans %}</p>
					<div class="row">
						<div class="col-md-6 space-top">
							<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="fa fa-tasks"></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Técnicas{% endtrans %}</h4>
									<p>{% trans %}Auditorías técnicas, Test de penetración, auditoría WiFi...{% endtrans %}<br><a href="#aTec" onclick="_gaq.push(['_trackEvent', 'Servicio Auditorias', 'link', 'Mas informacion - Tecnicas']);">{% trans %}Más información{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									<div class="separator-3"></div>
								</div>
							</div>
							<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon without-bg"><i class="fa fa-cubes "></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Gestión{% endtrans %}</h4>
									<p>{% trans %}Engloba aquellas encargadas de auditar todo el proceso SGSI de la empresa y específicamente la norma 27001.{% endtrans %}<br><a href="#aGes" onclick="_gaq.push(['_trackEvent', 'Servicio Auditorias', 'link', 'Mas informacion - Gestion']);">{% trans %}Más información{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									<div class="separator-3"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img src="/static/images/services_AU_addons.png" alt="">
						</div>
					</div>

				</div>				
			</section>
			{# section end #}

			<div class="separator"></div>
			{# section start #}
			{# ================ #}
			<section class="section background-img-2 dark-translucent-bg" style="background-position: 50% 100%;">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8">
										<h1 class="title">{% trans %}¿Interesado?{% endtrans %}</h1>
										<p>{% trans %}Nuestros servicios tienen disponible un periodo de demostración.Ponganos a prueba. Rétenos. Para HISPASEC el trabajo es una oportunidadpara poder competir.{% endtrans %}</p>
									</div>
									<div class="col-sm-4">
										<br>
										<p><a href="/{{ lang_code }}/contact.html" class="btn btn-lg btn-gray-transparent btn-animated" onclick="_gaq.push(['_trackEvent', 'Servicio Auditorias', 'CTA', 'Mas informacion']);">{% trans %}Más información{% endtrans %}<i class="fa fa-envelope-o pl-20"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{# section end #}
			
			{# section #}
			{# ================ #}
			<a id="aTec"></a>
			<section class="light-gray-bg pv-30 padding-bottom-clear clearfix">
				<div class="container">
				<h2 class="text-center">{% trans %}Auditorías técnicas{% endtrans %}</h2>
				<div class="separator"></div>					
					<div class="row">
						<div class="col-md-6">
							<div class="feature-box-2 white-bg object-non-visible right boxed bordered p-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="text-default icon-infinity"></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Auditoría perimetral{% endtrans %}</h4>
									<p>{% trans %}Evalúa la seguridad de los activos que la organización mantiene publicados en Internet. Permite conocer cómo ve un atacante externo los servidores de la empresa, qué impacto puede tener un eventual ataque y qué medidas han de implementarse para corregir las deficiencias de seguridad.{% endtrans %}</p>
								</div>
							</div>

							<div class="feature-box-2 white-bg object-non-visible right boxed bordered p-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="text-default fa fa-chain-broken"></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Test de intrusión (Pentest){% endtrans %}</h4>
									<p>{% trans %}Este tipo de pruebas tiene como objeto conocer hasta dónde llegaría un atacante externo si fijase a la organización en su punto de mira. Permite conocer si es posible encadenar la explotación de vulnerabilidades y brechas en las políticas de seguridad para adentrarse en los sistemas de información de la empresa.{% endtrans %}</p>
								</div>
							</div>								

							<div class="feature-box-2 white-bg object-non-visible right boxed bordered p-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="text-default fa fa-wifi "></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Auditoría WiFi{% endtrans %}</h4>
									<p>{% trans %}Nos permite conocer los puntos débiles de la red inalámbrica. Examina la implementación realizada y analiza los problemas que pueden surgir de una mala configuración. Adicionalmente también se analizan los posibles puntos de acceso no autorizados. Es decir, aquellos accesos inalámbricos instalados sin la autorización de la organización y que podrían servir de puerta de acceso a un atacante.{% endtrans %}</p>
								</div>
							</div>

							<div class="feature-box-2 white-bg object-non-visible right boxed bordered p-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="text-default fa fa-code"></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Auditoría de código{% endtrans %}</h4>
									<p>{% trans %}Análisis del código tanto de aplicaciones de páginas Web como de cualquier tipo de aplicación nativa, independientemente del lenguaje empleado.{% endtrans %}</p>
								</div>
							</div>								
							<br>
						</div>
						
						<div class="col-md-6">
							<div class="feature-box-2 white-bg object-non-visible  boxed bordered p-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="text-default fa fa-bullseye"></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Auditoría interna{% endtrans %}</h4>
									<p>{% trans %}Evalúa la seguridad de la red interna de la empresa. Permite conocer hasta dónde podría llegar un usuario malicioso con credenciales o desde una posición con mayores privilegios. En definitiva, se trata de determinar el daño que podría ser causado desde dentro de la organización.{% endtrans %}</p>

								</div>
							</div>
							<div class="feature-box-2 white-bg object-non-visible  boxed bordered p-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="text-default fa fa-cloud "></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Auditoría de aplicaciones Web{% endtrans %}</h4>
									<p>{% trans %}Este tipo de auditoría se especializa en las aplicaciones Web. Debido a la complejidad y criticidad de los datos y operaciones que procesan, las aplicaciones Web precisan de un tratamiento único y diferenciado que tenga por objeto neutralizar las vulnerabilidades existentes.{% endtrans %}</p>
								</div>
							</div>
							<div class="feature-box-2 white-bg object-non-visible  boxed bordered p-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="text-default fa fa-mobile "></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Auditoría de aplicaciones móviles{% endtrans %}</h4>
									<p>{% trans %}Revisión y análisis de las aplicaciones móviles Android, iOS, y Windows Phone. Examen de las comunicaciones, configuración, debilidades e interacción con las funcionalidades del sistema.{% endtrans %}</p>
								</div>
							</div>								

						</div>
					</div>
				</div>
			</section>
			{# section end #}
			
			<a id="aGes"></a>					
			<section class="main-container">
				<div class="container">
					<div class="row">
						{# main start #}
						{# ================ #}
						<div class="main col-md-12">				
							<h2 class="text-center">{% trans %}Auditorías de Gestión{% endtrans %}</h2>
							<div class="separator"></div>
							<div class="image-box style-3 mb-20 shadow bordered light-gray-bg">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<img src="/static/images/service_AU_SGSI.gif" alt="">
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>{% trans %}Proceso de auditoría SGSI{% endtrans %}</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<p class="margin-clear">{% trans %}Partiendo de la base de que garantizar un nivel de protección total es imposible, incluso en el caso de disponer de un presupuesto ilimitado, el propósito de un SGSI es el de garantizar que los riesgos de la seguridad de la información son conocidos, asumidos, gestionados y minimizados por la organización de una forma documentada, sistemática, estructurada, repetible, eficiente y adaptada a los cambios que se produzcan en los riesgos, el entorno y las tecnologías. Para ello, el SGSI se basa en estándares internacionales como la norma{% endtrans %} <b>UNE-ISO/IEC 27001:2007</b>.</p><br>
											<p class="margin-clear">{% trans %}La implantación de SGSI es una actividad de creciente demanda en nuestro mercado y las empresas comienzan a entender su importancia, al igual que ha ocurrido con la implantación de sistemas de gestión de la Calidad (ISO 9000) o Medio Ambiente (ISO 14000) en los últimos años.{% endtrans %}</p>											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>				

		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}


	</body>
</html>
